/* Sections */

#landing, #about, #projects, #contact, #blog {
    min-height: 700px;
}

/*** headings ***/
h1, h2{
	padding-top: 50px;
	text-align: center;
	font-family: 'Lato';
	font-size: 800%;
}

h2{
	padding-top: 20px;
	font-size: 500%;

}

h3{
	color: #C0C0C0;
}

/*** LANDING SECTION ***/
#landing{
	text-align: center;
	background-color: white;
}

#landing h3{
	color: gray;
}
#landing a{
	padding-right: 10px;
	padding-left: 10px;
}

.keyboard-icon{
	font-size: 1000%;

}

/*** ABOUT SECTION ***/
#about{
	background-color: black;
	color: white;
}

.top-info, .right-top, .right-bottom, .left-bottom, .left-top{
	text-align: center;
	padding-top: 20px;
}

.left-bottom p, .left-top p  {
	text-align: -webkit-left;
	padding-left: 30px;
}
.left-bottom{
	padding-top: 0px;
}


/*** PROJECTS SECTION***/
#projects{
	background-color: white;
}

.project-top{
	text-align: center;
}

#projects .row{
	padding-top: 20px;
}

.project-info{
	height: 100px;
}
#projects .col-sm-4{
	padding-left: 30px;
	padding-right: 30px;

} 

.img-thumbnail{
	width: 400px;
	height: 300px;
}

/*** CONTACT SECTION ***/
#contact{
	background-color: black;
	color: white;
	text-align: center;
	
}


.social-bar i{
	margin-right: 30px;
   vertical-align: middle;
   margin-top: 150px;
   font-size: 200px;  
}


#footer{
	font-size: 10px;
	background: black;
	color: white;
	text-align: center;
}

/*** ARROWS ***/

.down-arrow {
	text-align: center;
}

.dark-arrow{
	background: black;
	padding-bottom: 20px;
}








